.App {
  text-align: center;
  /* margin: 25px; */
}

body {
  background-color: black;
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased; */
}

header{
  background-color: black;
  height: 50px;
  color: white;
  font-family: 'Sintony', sans-serif;
}

header div{
  padding-left: 15px;
  padding-top: 7px;
}

nav {
  position: absolute;
  z-index: 1000;
  right: 15px;
}

nav ul {
  list-style: none;
  padding: 0px;
  text-align: right;
}

nav ul li {
  margin-top: 40px;
}

nav ul li a {
  font-family: 'Public Sans';
  -webkit-text-stroke: 1.5px white;
  font-size: 70px;
  text-decoration: none;
  color: transparent;
  cursor: default;
}

nav ul li:hover a{
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
}

#homeSection {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  /* text-shadow: 3px 3px 3px grey; */
  /* position: sticky;
  top: 0; */
}

#skillsSection, #homeSection, #profileSection{
  height: 650px;
}

#homeSection div#form1 {
  background-color: white;
  border: black solid;
  z-index: 99;
}

#homeSection div#form2 {
  background-color: black;
  border: white solid 0.5px;
  margin-left: 1.5%;
  margin-top: -1.5%;
  z-index: 98;
}

#homeSection div#form1, #homeSection div#form2{
  height: 400px;
  position: absolute;
  width: 400px;
}

#homeSection h1 {
  font-family: 'Archivo Black';
  font-size: 100px;
  position: absolute;
  color: black;
  margin-left: 5%;
  margin-top: 10%;
  -webkit-text-stroke: 1px white;
  z-index: 100;
}

#profileSection h1{
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: 500px;
  margin-top: -100px;
  margin-left: 50px;
  z-index: 99;
}

#skillsSection h1{
  color: grey;
  /* -webkit-text-stroke: 1px white; */
  font-size: 150px;
  margin-left: 20%;
  z-index: 99;
}

#profileSection h2{
  font-size: 50px;
  color: white;
  margin-top: 250px;
  margin-left: 250px;
  z-index: 100;
}

#profileSection h1, #profileSection h2,
#skillsSection h1, #skillsSection h2
{
  font-family: 'Archivo Black';
  position: absolute;
}

ul li:hover a {
  color: white;
}

